
*{
border: 2px solid #3882F6 ;
}



body{
    display: flex;
    flex-direction: column;
    background-color: transparent;
}




.header{
    display: flex;
    padding: 15px;
    justify-content: center;
    flex-grow: 1;

}




.header .logo{
    color: #f9faf8;
    font-size: 24px;
    flex-grow: 1;
    font-weight: 800;
    align-self: center
}



.header .links{
    display: flex;
    gap: 15px;
    align-items: center;

}



.header,
.container{
    background-color: #1f2937;
}





a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}




.container{
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
}



.info1{
    box-sizing:border-box;
    width: 700px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0; 
    gap: 0; 
    align-self: center;
}

.placeholder{
    border: 1px white;
    background-color: #1f2937;
    width: 700px;
    flex-shrink: 0;
    align-self: center;

}

.blockbuster{
    color:#f9faf8;
    font-size: 48px;
    font-weight: bolder;
}


button{
    background-color: #3882F6;
    border-radius: 10%;
    padding: 10px;
    justify-content: center;
    box-sizing: border-box;
    width: 100px;
    font-size: 15px;
    align-self: flex-start;
    font-weight: 600;
    color: white;
}

p{
    color:#e5e7eb;
    font-size: 18px;
}


.flask{
    display: flex;
    justify-content: center;
    gap: 56px;
    align-items: center;
}

.lonely{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.whole{
    background-color: white;
}

.whole p{
    color: black;
}

.context{
    width: 200px;
    align-self: center;
}



.beaker{
    margin-top: 40px;
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    height: 400px;
}

.beaker p{
    color: #1f2937;
    font-size: 36px;


}
.beaker .comment{
    width: 800px;
}

.beaker .small{
    text-align: right;
    font-size: 20px;
    font-weight: 550;
    color: #1f2937;
}

.baby{
    display: flex;
    background-color: white;
    padding: 50px;
    justify-content: center;
}
.baby .burner{
    background-color: #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    width: 1600px;
    height: 125px;
    align-items: center;
}

.burner button{
    border: 1px solid white;
    align-self: center;
}

.burner .content{
    font-size: 23px;
    font-weight: 700;
    color: white;
}

